/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa tus clases personalizadas DENTRO de la capa 'components' */
@layer components {
  /* Importamos usando una ruta relativa para evitar errores al compilar */
  @import "../styles/foundations/semantic/typography.css";
}

@layer base {
  :root {
    /* Estas son las variables que Shadcn busca.
       Las alimentamos con valores HSL de tus colores.
       Esto se hace solo una vez para cumplir el "contrato". */
    --background: 240 14% 98%; /* Valor de tu neutral-100 */
    --foreground: 240 14% 10%; /* Valor de tu neutral-800 */
    --card: 240 14% 98%; /* Tu neutral-100 */
    --card-foreground: 240 14% 10%; /* Tu neutral-800 */
    --popover: 240 14% 98%; /* Tu neutral-100 */
    --popover-foreground: 240 14% 10%; /* Tu neutral-800 */
    --primary: 210 100% 25%; /* Valor de tu utilities-400 */
    --primary-foreground: 0 0% 100%; /* Blanco */
    --secondary: 114 26% 39%; /* Valor de tu success-300 */
    --secondary-foreground: 0 0% 100%; /* Blanco */
    --destructive: 0 84% 45%; /* Valor de tu danger-400 */
    --destructive-foreground: 0 0% 100%; /* Blanco */
    --muted: 240 3% 82%; /* Tu neutral-300 */
    --muted-foreground: 240 4% 40%; /* Tu neutral-600 */
    --accent: 240 3% 82%; /* Tu neutral-300 */
    --accent-foreground: 240 14% 10%; /* Tu neutral-800 */
    --border: 240 3% 82%; /* Tu neutral-300 */
    --input: 240 3% 82%; /* Tu neutral-300 */
    --ring: 210 100% 25%; /* Tu utilities-400 */
    --radius: 0.5rem; /* 8px */
  }
}

@layer utilities {
  .no-scrollbar {
    /* IE y Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari y Opera */
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

@layer components {
  .hero-bg {
    background-image: url("/images/hero-1.webp");
    background-size: cover;
    background-position: center;
  }
}
